@mixin font-face($font_family, $file_path, $weight)
    @font-face
        font-family: $font_family
        font-weight: $weight
        font-style: normal
        font-display: auto
        src: url('@/assets/fonts/#{$font_family}/#{$file_path}.woff') format('woff'), url('@/assets/fonts/#{$font_family}/#{$file_path}.woff2') format('woff2')

@include font-face('Gotham Pro', 'gothampro', 400)
@include font-face('Gotham Pro', 'gothampro_medium', 500)
@include font-face('Gotham Pro', 'gothampro_bold', 700)
@include font-face('Bebas Neue', 'BebasNeue', 400)